In [44]:
import pandas as pd

In [45]:
data=pd.read_csv(r"D:\STUDY\PYTHON\BIG DATA PRACTICE\9. Survey Dataset - Technical Interview.csv")

In [46]:
data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [4]:
#Load the dataset into a pandas dataframe. Name the variable as “survey”.

In [47]:
survey=data.copy()

In [48]:
survey

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [7]:
# How many samples were collected on each day?

In [49]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969

In [50]:
data['collection_date'].value_counts()

5-24-2017    1479
5-25-2017     998
5-28-2017     761
5-27-2017     665
5-29-2017     620
6-1-2017      607
5-26-2017     598
5-30-2017     582
5-31-2017     557
Name: collection_date, dtype: int64

In [11]:
#What proportion of the total respondents were aged less than 45?

In [51]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969

In [52]:
data.age>45

TypeError: '>' not supported between instances of 'str' and 'int'

In [14]:
data.age.unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '24ko', '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [73]:
data.age.replace({'24ko':24},inplace=True)

In [75]:
data.age.unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '56', '50', '55', '54', '62', '60', '59', '47',
       '61', '52', '66', '57', '67', '65', '71', '63', '64', '68', '69',
       '99', '72', '75', '76'], dtype=object)

In [76]:
data.age>45

TypeError: '>' not supported between instances of 'str' and 'int'

In [68]:
data.dtypes

response_id           int64
collection_date      object
urban_rural          object
education            object
income               object
Vote_Now             object
Past_Vote            object
CM_satisfaction      object
MLA_satisfaction     object
age                  object
gender               object
assembly_no           int64
category             object
weight              float64
dtype: object

In [82]:
data.age=data.age.astype(int)

In [83]:
data.dtypes

response_id           int64
collection_date      object
urban_rural          object
education            object
income               object
Vote_Now             object
Past_Vote            object
CM_satisfaction      object
MLA_satisfaction     object
age                   int32
gender               object
assembly_no           int64
category             object
weight              float64
dtype: object

In [85]:
data[data.age>45]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
12,13,5-24-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Undecided,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,51,Male,183,SC,20.558759
33,34,5-24-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,53,Male,188,Gen,1.936195
59,60,5-24-2017,Rural,12th Pass,"₹ 5,000 - ₹ 10,000",JD(U),JD(U),Fully Satisfied,Fully Dissatisfied,48,Male,171,BC,2.824391
69,70,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",RJD,INC,Fully Dissatisfied,Fully Satisfied,74,Male,192,ST,1.805903
74,75,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Dissatisfied,Somewhat Satisfied,70,Male,183,BC,0.343147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,Male,144,SC,4.741094
6804,6805,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Fully Satisfied,Can’t say,50,Male,146,EBC,2.968566
6810,6811,6-1-2017,Rural,12th Pass,"₹ 1,50,000 & above",RJD,RJD,Somewhat Satisfied,Fully Dissatisfied,52,Male,150,Gen,2.112264
6829,6830,6-1-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),JD(U),Fully Satisfied,Somewhat Satisfied,48,Male,146,EBC,6.328899
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,Male,165,Gen,0.300990

In [ ]:
#Create a new column in the dataframe “age_group”. This column should contain the age group the respondent belongs to. 
#The age groups are 18-25, 25-40, 40-55 and 55+. 
#The dataframe should look like this after the column creation

In [86]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969

In [91]:
data.insert(10,'Age_Group', data.age)

In [92]:
data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,33,Male,241,Gen,1.797518

In [131]:
data1=data[(data.age>=18) & (data.age<25)]

In [132]:
data1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,22,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,23,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,24,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,24,Male,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,23,Male,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,24,Male,241,Gen,1.812926
6859,6860,6-1-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,21,Male,146,EBC,1.558234
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,22,Male,166,Gen,0.080137
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,23,Male,243,Gen,0.080137

In [133]:
data2=data[(data.age>=25) & (data.age<40)]

In [96]:
data2

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,34,Male,189,BC,0.603419
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,36,Male,194,Gen,1.101298
5,6,5-24-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",Others,BJP,Somewhat Satisfied,Fully Dissatisfied,38,38,Male,178,Gen,0.382603
6,7,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,34,34,Male,172,BC,0.521283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,6853,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",Undecided,BJP,Fully Satisfied,Fully Satisfied,28,28,Male,149,SC,0.983441
6854,6855,6-1-2017,Rural,Post - Graduation,"₹ 5,000 - ₹ 10,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,37,37,Male,143,Gen,0.085030
6855,6856,6-1-2017,Rural,12th Pass,"₹ 5,000 - ₹ 10,000",NOTA,JD(U),Fully Dissatisfied,Fully Dissatisfied,30,30,Male,241,EBC,0.174156
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,30,Male,169,BC,0.252780
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,33,Male,241,Gen,1.797518

In [134]:
data3=data[(data.age>=40) & (data.age<55)]

In [98]:
data3

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
11,12,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",LJP,JD(U),Somewhat Satisfied,Fully Dissatisfied,42,42,Male,183,BC,2.824391
12,13,5-24-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Undecided,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,51,51,Male,183,SC,20.558759
28,29,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,44,44,Male,205,BC,1.337935
30,31,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",NOTA,NOTA,Fully Dissatisfied,Fully Dissatisfied,44,44,Male,183,Gen,1.344773
33,34,5-24-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,53,53,Male,188,Gen,1.936195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6810,6811,6-1-2017,Rural,12th Pass,"₹ 1,50,000 & above",RJD,RJD,Somewhat Satisfied,Fully Dissatisfied,52,52,Male,150,Gen,2.112264
6812,6813,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",BJP,RJD,Somewhat Satisfied,Fully Satisfied,45,45,Male,142,Gen,0.710519
6829,6830,6-1-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),JD(U),Fully Satisfied,Somewhat Satisfied,48,48,Male,146,EBC,6.328899
6840,6841,6-1-2017,Rural,Graduate,"₹ 1,50,000 & above",NOTA,BJP,Fully Dissatisfied,Somewhat Satisfied,45,45,Male,241,BC,1.425852
6856,6857,6-1-2017,Rural,Post - Graduation,"₹ 50,000 - ₹ 80,000",RJD,JD(U),Somewhat Satisfied,Somewhat Dissatisfied,45,45,Male,150,BC,2.112264

In [135]:
data4=data[(data.age>55)]

In [136]:
data4

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
69,70,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",RJD,INC,Fully Dissatisfied,Fully Satisfied,74,74,Male,192,ST,1.805903
74,75,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Dissatisfied,Somewhat Satisfied,70,70,Male,183,BC,0.343147
121,122,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",NOTA,Did not vote,Somewhat Satisfied,Fully Dissatisfied,58,58,Male,187,Gen,2.092567
126,127,5-24-2017,Urban,Graduate,"₹ 80,000 - ₹ 1,50,000",NOTA,BJP,Fully Dissatisfied,Fully Dissatisfied,56,56,Male,183,Gen,2.092567
277,278,5-24-2017,Urban,Post - Graduation,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Satisfied,Somewhat Satisfied,58,58,Male,186,Gen,1.917992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,67,Male,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,68,Male,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,76,Male,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,60,Male,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,66,Male,165,Gen,0.300990

In [137]:
data1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,22,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,23,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,24,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,24,Male,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,23,Male,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,24,Male,241,Gen,1.812926
6859,6860,6-1-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,21,Male,146,EBC,1.558234
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,22,Male,166,Gen,0.080137
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,23,Male,243,Gen,0.080137

In [138]:
data1.Age_Group='18-25'

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_13340\1535017084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.Age_Group='18-25'

In [139]:
data1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25,Male,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,18-25,Male,241,Gen,1.812926
6859,6860,6-1-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,18-25,Male,146,EBC,1.558234
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,18-25,Male,166,Gen,0.080137
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,18-25,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,18-25,Male,243,Gen,0.080137

In [140]:
data2.Age_Group='25-40'

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_13340\3185372014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.Age_Group='25-40'

In [141]:
data3.Age_Group='40-55'

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_13340\616217637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3.Age_Group='40-55'

In [142]:
data4.Age_Group='55+'

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_13340\2422690460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4.Age_Group='55+'

In [143]:
data4

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
69,70,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",RJD,INC,Fully Dissatisfied,Fully Satisfied,74,55+,Male,192,ST,1.805903
74,75,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Dissatisfied,Somewhat Satisfied,70,55+,Male,183,BC,0.343147
121,122,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",NOTA,Did not vote,Somewhat Satisfied,Fully Dissatisfied,58,55+,Male,187,Gen,2.092567
126,127,5-24-2017,Urban,Graduate,"₹ 80,000 - ₹ 1,50,000",NOTA,BJP,Fully Dissatisfied,Fully Dissatisfied,56,55+,Male,183,Gen,2.092567
277,278,5-24-2017,Urban,Post - Graduation,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Satisfied,Somewhat Satisfied,58,55+,Male,186,Gen,1.917992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,55+,Male,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,55+,Male,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,55+,Male,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,55+,Male,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,55+,Male,165,Gen,0.300990

In [149]:
new=pd.concat([data1,data2,data3,data4])

In [151]:
new

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25,Male,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,55+,Male,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,55+,Male,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,55+,Male,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,55+,Male,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,55+,Male,165,Gen,0.300990

In [152]:
#How many samples were collected for each age-group? Which age-group had the most samples?

In [159]:
new.Age_Group.value_counts()

25-40    3844
18-25    2094
40-55     801
55+       108
Name: Age_Group, dtype: int64

In [160]:
# What proportion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Vote questions?

In [161]:
new.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505

In [162]:
new.Vote_Now.unique()

array(['JD(U)', 'BJP', 'RJD', 'JAP(L)', 'Others', 'NOTA', 'Plurals',
       'BSP', 'RJJP', 'AAP', 'INC', 'LJP', 'RLSP', 'HAM', 'Undecided',
       'VIP', 'Left Front', 'AIMIM'], dtype=object)

In [164]:
new[(new.Vote_Now=='RJD') & (new.Past_Vote=='RJD')]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738
38,39,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Can’t say,Can’t say,22,18-25,Male,181,SC,1.596987
47,48,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,20,18-25,Male,172,BC,1.188838
85,86,5-24-2017,Rural,12th Pass,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,22,18-25,Male,187,BC,0.586158
120,121,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",RJD,RJD,Fully Satisfied,Fully Satisfied,23,18-25,Male,187,BC,0.891022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3012,3013,5-29-2017,Urban,Post - Graduation,"₹ 50,000 - ₹ 80,000",RJD,RJD,Somewhat Dissatisfied,Somewhat Satisfied,56,55+,Male,214,BC,4.052635
4753,4754,5-26-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,61,55+,Male,16,BC,4.650280
5493,5494,5-26-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,61,55+,Male,156,Gen,1.044473
5687,5688,5-29-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,62,55+,Male,156,EBC,10.814150
5830,5831,5-30-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",RJD,RJD,Somewhat Dissatisfied,Fully Dissatisfied,59,55+,Male,48,Gen,2.359308

In [ ]:
# For each day of sample collection, determine the proportion of respondents who were fully satisfied with 
#the performance of the CM. So if there were a total of 1000 samples on day 1 and 300 out of those said they were
#fully satisfied, then our answer for that day would be 0.3

In [165]:
new.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505

In [167]:
new[new.CM_satisfaction=='Fully Satisfied']

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477
75,76,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JD(U),VIP,Fully Satisfied,Fully Satisfied,18,18-25,Male,175,BC,0.333505
90,91,5-24-2017,Rural,Graduate,"₹ 80,000 - ₹ 1,50,000",JD(U),Did not vote,Fully Satisfied,Can’t say,22,18-25,Male,171,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6341,6342,5-26-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",JD(U),INC,Fully Satisfied,Somewhat Dissatisfied,70,55+,Male,142,BC,1.495606
6498,6499,5-28-2017,Urban,Post - Graduation,"₹ 10,000 - ₹ 20,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,61,55+,Male,168,Gen,0.300990
6513,6514,5-28-2017,Urban,Post - Graduation,"₹ 10,000 - ₹ 20,000",BJP,BJP,Fully Satisfied,Somewhat Satisfied,62,55+,Male,168,Gen,0.300990
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,55+,Male,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,55+,Male,165,Gen,0.300990

In [ ]:
#In a similar fashion create a day-wise proportion of respondents that opted fully dissatisfied with
#their MLA. Create a line plot of the result with date on x-axis and proportions on the y-axis.

In [168]:
new.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505

In [172]:
new[new.MLA_satisfaction=='Fully Dissatisfied']

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25,Male,188,BC,0.040519
45,46,5-24-2017,Rural,Graduate,"BPL/Below ₹ 5,000",Plurals,BJP,Somewhat Satisfied,Fully Dissatisfied,18,18-25,Male,209,BC,0.428512
47,48,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,20,18-25,Male,172,BC,1.188838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6123,6124,5-24-2017,Urban,Professional Education,"₹ 20,000 - ₹ 30,000",RJD,INC,Somewhat Satisfied,Fully Dissatisfied,63,55+,Male,146,BC,0.344782
6262,6263,5-25-2017,Urban,Graduate,"₹ 1,50,000 & above",BJP,BJP,Somewhat Satisfied,Fully Dissatisfied,64,55+,Male,146,Gen,0.933257
6268,6269,5-25-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",BJP,HAM,Somewhat Satisfied,Fully Dissatisfied,59,55+,Male,164,SC,4.529648
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,55+,Male,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,55+,Male,146,Gen,0.710519

In [169]:
new.MLA_satisfaction.unique()

array(['Fully Satisfied', 'Fully Dissatisfied', 'Somewhat Satisfied',
       'Can’t say', 'Somewhat Dissatisfied'], dtype=object)

In [ ]:
#Create a dataframe by performing a group by over age_group and calculate the count of total samples under each age_group

In [173]:
new.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,Age_Group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505

In [175]:
data.groupby('Age_Group').count()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
Age_Group,,,,,,,,,,,,,,
18,125,125,125,125,125,125,125,125,125,125,125,125,125,125
19,171,171,171,171,171,171,171,171,171,171,171,171,171,171
20,328,328,328,328,328,328,328,328,328,328,328,328,328,328
21,311,311,311,311,311,311,311,311,311,311,311,311,311,311
22,392,392,392,392,392,392,392,392,392,392,392,392,392,392
23,317,317,317,317,317,317,317,317,317,317,317,317,317,317
24,450,450,450,450,450,450,450,450,450,450,450,450,450,450
25,598,598,598,598,598,598,598,598,598,598,598,598,598,598
26,389,389,389,389,389,389,389,389,389,389,389,389,389,389
27,360,360,360,360,360,360,360,360,360,360,360,360,360,360
28,396,396,396,396,396,396,396,396,396,396,396,396,396,396
29,239,239,239,239,239,239,239,239,239,239,239,239,239,239
30,440,440,440,440,440,440,440,440,440,440,440,440,440,440
31,159,159,159,159,159,159,159,159,159,159,159,159,159,159
32,263,263,263,263,263,263,263,263,263,263,263,263,263,263
33,143,143,143,143,143,143,143,143,143,143,143,143,143,143
34,173,173,173,173,173,173,173,173,173,173,173,173,173,173
35,263,263,263,263,263,263,263,263,263,263,263,263,263,263
36,127,127,127,127,127,127,127,127,127,127,127,127,127,127
37,90,90,90,90,90,90,90,90,90,90,90,90,90,90
38,135,135,135,135,135,135,135,135,135,135,135,135,135,135
39,69,69,69,69,69,69,69,69,69,69,69,69,69,69
40,177,177,177,177,177,177,177,177,177,177,177,177,177,177
41,54,54,54,54,54,54,54,54,54,54,54,54,54,54
42,104,104,104,104,104,104,104,104,104,104,104,104,104,104
43,72,72,72,72,72,72,72,72,72,72,72,72,72,72
44,54,54,54,54,54,54,54,54,54,54,54,54,54,54
45,82,82,82,82,82,82,82,82,82,82,82,82,82,82
46,32,32,32,32,32,32,32,32,32,32,32,32,32,32
47,34,34,34,34,34,34,34,34,34,34,34,34,34,34
48,35,35,35,35,35,35,35,35,35,35,35,35,35,35
49,27,27,27,27,27,27,27,27,27,27,27,27,27,27
50,60,60,60,60,60,60,60,60,60,60,60,60,60,60
51,23,23,23,23,23,23,23,23,23,23,23,23,23,23
52,24,24,24,24,24,24,24,24,24,24,24,24,24,24
53,12,12,12,12,12,12,12,12,12,12,12,12,12,12
54,11,11,11,11,11,11,11,11,11,11,11,11,11,11
55,20,20,20,20,20,20,20,20,20,20,20,20,20,20
56,9,9,9,9,9,9,9,9,9,9,9,9,9,9
57,10,10,10,10,10,10,10,10,10,10,10,10,10,10
58,9,9,9,9,9,9,9,9,9,9,9,9,9,9
59,5,5,5,5,5,5,5,5,5,5,5,5,5,5
60,15,15,15,15,15,15,15,15,15,15,15,15,15,15
61,12,12,12,12,12,12,12,12,12,12,12,12,12,12
62,5,5,5,5,5,5,5,5,5,5,5,5,5,5
63,4,4,4,4,4,4,4,4,4,4,4,4,4,4
64,8,8,8,8,8,8,8,8,8,8,8,8,8,8
65,5,5,5,5,5,5,5,5,5,5,5,5,5,5
66,4,4,4,4,4,4,4,4,4,4,4,4,4,4
67,7,7,7,7,7,7,7,7,7,7,7,7,7,7
68,4,4,4,4,4,4,4,4,4,4,4,4,4,4
69,1,1,1,1,1,1,1,1,1,1,1,1,1,1
70,3,3,3,3,3,3,3,3,3,3,3,3,3,3
71,2,2,2,2,2,2,2,2,2,2,2,2,2,2
72,1,1,1,1,1,1,1,1,1,1,1,1,1,1
74,1,1,1,1,1,1,1,1,1,1,1,1,1,1
75,1,1,1,1,1,1,1,1,1,1,1,1,1,1
76,1,1,1,1,1,1,1,1,1,1,1,1,1,1
99,1,1,1,1,1,1,1,1,1,1,1,1,1,1